CDF_CLUSTER=az-eastus-1
CDF_PROJECT=radix-dev
CDF_URL=
# Optional: defaults to client_credentials when omitted.
LOGIN_FLOW=client_credentials
IDP_CLIENT_ID=
IDP_CLIENT_SECRET=
IDP_TENANT_ID=
IDP_TOKEN_URL=
IDP_SCOPES=
IDP_AUDIENCE=
